{% extends 'base.html' %}

{% block main %}
    <div class="add_check_container">

        <div class="add_check_container1">
    <h3>전체 종목 리스트</h3>
      <div class="tabs">
        <ul class="tab-links">
          <li class="active"><a href="#tab1">전체</a></li>
          <li><a href="#tab2">한국 주식</a></li>
          <li><a href="#tab3">미국 주식</a></li>
          <li><a href="#tab3">코인</a></li>
        </ul>
      <div class="tab-content">
        <div id="tab1" class="tab active">
          <table>
          <thead>
            <tr>
             <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
          </tbody>
          </table>
        </div>
        <div id="tab2" class="tab">
        <table>
          <thead>
            <tr>
             <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
             <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
          </tbody>
        </table>
      </div>
        <div id="tab3" class="tab">
        <table>
        <thead>
          <tr>
            <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
          </tr>
        </thead>
          <tbody>
            <tr>
             <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
          </tbody>
        </table>
      </div>
        <div id="tab4" class="tab">
        <table>
        <thead>
          <tr>
            <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
          </tr>
        </thead>
          <tbody>
            <tr>
             <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      </div>
        </div>

        <div class="add_check_container2">
    <h3>관심 종목 리스트</h3>
      <div class="tabs">
        <ul class="tab-links">
          <li class="active"><a href="#tab1">전체</a></li>
          <li><a href="#tab2">한국 주식</a></li>
          <li><a href="#tab3">미국 주식</a></li>
          <li><a href="#tab3">코인</a></li>
        </ul>
      <div class="tab-content">
        <div id="tab1" class="tab active">
          <table>
          <thead>
            <tr>
             <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
          </tbody>
          </table>
        </div>
        <div id="tab2" class="tab">
        <table>
          <thead>
            <tr>
             <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
             <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
          </tbody>
        </table>
      </div>
        <div id="tab3" class="tab">
        <table>
        <thead>
          <tr>
            <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
          </tr>
        </thead>
          <tbody>
            <tr>
             <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
          </tbody>
        </table>
      </div>
        <div id="tab4" class="tab">
        <table>
        <thead>
          <tr>
            <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
          </tr>
        </thead>
          <tbody>
            <tr>
             <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      </div>
        </div>

        <div class="add_check_container3">
    <h3>보유 종목</h3>
      <div class="tabs">
        <ul class="tab-links">
          <li class="active"><a href="#tab1">전체</a></li>
          <li><a href="#tab2">한국 주식</a></li>
          <li><a href="#tab3">미국 주식</a></li>
          <li><a href="#tab3">코인</a></li>
        </ul>
      <div class="tab-content">
        <div id="tab1" class="tab active">
          <table>
          <thead>
            <tr>
             <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
          </tbody>
          </table>
        </div>
        <div id="tab2" class="tab">
        <table>
          <thead>
            <tr>
             <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
             <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
          </tbody>
        </table>
      </div>
        <div id="tab3" class="tab">
        <table>
        <thead>
          <tr>
            <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
          </tr>
        </thead>
          <tbody>
            <tr>
             <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
          </tbody>
        </table>
      </div>
        <div id="tab4" class="tab">
        <table>
        <thead>
          <tr>
            <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
          </tr>
        </thead>
          <tbody>
            <tr>
             <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      </div>
        </div>

        <div class="add_check_container4">
            <h2>메모란</h2>
            <div class="memo">
                <input type="text" name="memo" placeholder="메모 내용" required />
                <button type="button">추가</button>
                <button type="button">수정</button>
            </div>
        </div>
{% endblock %}