{% extends 'base.html' %}

{% block main %}
  <div class="add_check_container">

    <div class="add_check_container1">

      <h3>전체 종목</h3>
      <div class="tab tab1">
        <a href="#kr_stock_total" class="tablinks">한국주식</a>
        <a href="#us_stock_value_total" class="tablinks">미국(가치)</a>
        <a href="#us_stock_div_total" class="tablinks">미국(배당)</a>
        <a href="#coin_total" class="tablinks">코인</a>
      </div>

      <div id="kr_stock_total" class="tabcontent">
          <h3>한국주식내용</h3>
          <p>ㅎㅎㅎㅎ</p>
      </div>

      <div id="us_stock_value_total" class="tabcontent">
          <h3>미국 가치주 내용</h3>
          <p>ㄱㄱㄱㄱㄱ</p>
      </div>

      <div id="us_stock_div_total" class="tabcontent">
          <h3>미국 배당주 내용</h3>
          <p>ㅂㅂㅂㅂㅂ</p>
      </div>

      <div id="coin_total" class="tabcontent">
          <h3>코인 내용</h3>
          <p>GAMBLING</p>
      </div>

    </div>

    <div class="add_check_container2">
      <h3>보유 종목</h3>
      <div class="tab tab2">
        <a href="#kr_stock_having" class="tablinks">한국주식</a>
        <a href="#us_stock_value_having" class="tablinks">미국(가치)</a>
        <a href="#us_stock_div_having" class="tablinks">미국(배당)</a>
        <a href="#coin_having" class="tablinks">코인</a>
      </div>

      <div id="kr_stock_having" class="tabcontent">
          <h3>한국주식내용</h3>
          <p>ㅎㅎㅎㅎ</p>
      </div>

      <div id="us_stock_value_having" class="tabcontent">
          <h3>미국 가치주 내용</h3>
          <p>ㄱㄱㄱㄱㄱ</p>
      </div>

      <div id="us_stock_div_having" class="tabcontent">
          <h3>미국 배당주 내용</h3>
          <p>ㅂㅂㅂㅂㅂ</p>
      </div>

      <div id="coin_having" class="tabcontent">
          <h3>코인 내용</h3>
          <p>GAMBLING</p>
      </div>

    </div>

    <div class="add_check_container3">
      <h3>관심 종목</h3>
      <div class="tab tab3">
        <a href="#kr_stock_attention" class="tablinks">한국주식</a>
        <a href="#us_stock_value_attention" class="tablinks">미국(가치)</a>
        <a href="#us_stock_div_attention" class="tablinks">미국(배당)</a>
        <a href="#coin_attention" class="tablinks">코인</a>
      </div>

      <div id="kr_stock_attention" class="tabcontent">
          <h3>한국주식내용</h3>
          <p>ㅎㅎㅎㅎ</p>
      </div>

      <div id="us_stock_value_attention" class="tabcontent">
          <h3>미국 가치주 내용</h3>
          <p>ㄱㄱㄱㄱㄱ</p>
      </div>

      <div id="us_stock_div_attention" class="tabcontent">
          <h3>미국 배당주 내용</h3>
          <p>ㅂㅂㅂㅂㅂ</p>
      </div>

      <div id="coin_attention" class="tabcontent">
          <h3>코인 내용</h3>
          <p>GAMBLING</p>
      </div>

    </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script>
      function tabContent(event){
          event.preventDefault();
          $(this).parent().find('a').removeClass('active');
          $(this).addClass('active');
          $(this).parent().parent().find('.tabcontent').hide();
          $($(this).attr('href')).show();
      }

      $('.tab1 a').on('click', tabContent);
      $('.tab2 a').on('click', tabContent);
      $('.tab3 a').on('click', tabContent);

      $('.tab1 a:first').trigger('click');
      $('.tab2 a:first').trigger('click');
      $('.tab3 a:first').trigger('click');

  </script>

  </div>

{% endblock %}