<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>웹 개발 테스트용</title>
  <link rel="shortcut icon" href="">
  <link rel=stylesheet type=text/css href="../static/index.css">
  <script src="../static/common.js"></script>
</head>
<body>
  <header>
    <div class = "links">
      <a href="https://github.com/suminwooo" >개발자의 깃허브로 가기</a>
    </div>



      <fieldset>
        <form action="/search_detail" method="post">
          <legend class="visually-hidden"> 종목 검색란 </legend>
          <div class="search_box" >
            <input type="text" id="input" name="input" maxlength="225" value="종목을 입력해 주세요" onclick="this.value='';"/>
            <button type="submit" value="input">검색</button>
          </div>
        </form>
      </fieldset>

  {% if g.user %}
  <div class="login_on">
    <h3> 로그인 되었습니다. </h3>
    <form class="login-form">
      <button><a href="{{ url_for('logout') }}"> 로그아웃 [{{ g.user.username }}] </a></button>
    </form>
  </div>
      </div>
  <nav>
    <div class="nav_items">
      <ul>
        <li><a href="{{url_for('main_page')}}"> 메인 </a></li>
        <li><a href="{{ url_for('korea_stock') }}"> 한국 주식</a></li>
        <li><a href="{{ url_for('transaction_list') }}"> 매매기록 </a></li>
        <li><a href="{{ url_for('twit') }}"> 게시판 </a></li>
      </ul>
    </div>
  </nav>
  </header>
  {% else %}
  <div class="login_off">
    <h3> 로그인을 해주세요. </h3>
    <form class="login-form">
      <button><a href="{{ url_for('login') }}"> 로그인 </a></button>
      <button> <a href="{{ url_for('register') }}"> 회원 가입</a> </button>
    </form>
  </div>
      </div>
  <nav>
    <div class="nav_items">
      <ul>
        <li><a href="{{url_for('main_page')}}"> 메인 </a></li>
        <li><a href="{{ url_for('korea_stock') }}"> 한국 주식 </a></li>
        <li><a href="{{ url_for('sample_transaction_list') }}"> 매매기록 </a></li>
        <li><a href="{{ url_for('twit') }}"> 게시판 </a></li>
      </ul>
    </div>
  </nav>
  </header>
  {% endif %}

  <main>
    {% block main %}
    {% endblock %}
  </main>

  <footer>
    <h3>made by sumin.w</h3>
    <p>contact : wsm263@gmail.com</p>
  </footer>

</body>

</html>