{% extends 'base.html' %}

{% block main %}
  <h1> KOREA PAGE </h1>
  <div class="korea_us_container">

    <div class="korea_us_container1">
      <h3> 시장 정보 </h3>
      <div class="basic_box">
        <p>
          코스피 : {{main_page_value['kospi_close']}},
          코스닥 : {{main_page_value['kosdaq_close']}},
          나스닥100 : {{main_page_value['nasdaq100_close']}},
          나스닥 : {{main_page_value['nasdaq_close']}}
        </p>
        <p>
          개미현황 : {{main_page_value['kospi_individual']}},
          외국인 투자자 : {{main_page_value['kospi_foreigner']}},
          기관 투자자 : {{main_page_value['kospi_Institutional']}}
        </p>
      </div>
    </div>

    <div class="korea_us_container2">
      <h3>날짜 시간 설정</h3>
      <div class="basic_box">
        {{current_time}}
      </div>
    </div>

    <div class="korea_us_container3">
      <h3>상승, 하락 종목</h3>
      <table>
        <thead>
          <tr>
           <th>NO.</th><th>코드</th><th>현재가</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>-</td><td>-</td><td>-</td>
          </tr>
          <tr>
            <td>-</td><td>-</td><td>-</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="korea_us_container4">
      <h3>저평가 목록</h3>
      <table>
        <thead>
          <tr>
           <th>NO.</th><th>코드</th><th>현재가</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>-</td><td>-</td><td>-</td>
          </tr>
          <tr>
            <td>-</td><td>-</td><td>-</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="korea_us_container5">
    <h3>관심종목</h3>
      <table>
        <thead>
          <tr>
           <th>NO.</th><th>코드</th><th>현재가</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>-</td><td>-</td><td>-</td>
          </tr>
          <tr>
            <td>-</td><td>-</td><td>-</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="korea_us_container6">
    <h3>대기업 시가 총액</h3>
      <table>
        <thead>
          <tr>
            <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
          </tr>
          <tr>
            <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="korea_us_container7">
      <h3>추가 할만한 것</h3>
        <table>
          <thead>
            <tr>
              <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
          </tbody>
        </table>
    </div>

    <div class="korea_us_container8">
      <h3>보유중</h3>
      <table>
        <thead>
          <tr>
           <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
           <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
          </tr>
          <tr>
           <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="korea_us_container9">
      <h3>매매기록</h3>
      <table>
        <thead>
          <tr>
           <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
           <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
          </tr>
          <tr>
           <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="korea_us_container10">
      <h3>메모장</h3>
      <div class="memo">
        <input type="text" name="memo" placeholder="메모 내용" required />
        <button type="button">추가</button>
        <button type="button">수정</button>
      </div>
    </div>

  </div>
{% endblock %}

