{% extends 'base.html' %}

{% block main %}
  <h1> KOREA PAGE </h1>
  <div class="korea_us_container">

    <div class="korea_us_container1">
      <h3> 시장 정보 </h3>
      <table>
          <thead>
            <tr>
              <th></th><th>개인</th><th>기관</th><th>외국인</th>
            </tr>
          </thead>
          <tbody>
              <tr>
              <td>코스피</td>
                  <td>{{main_page_value['kospi_individual']}}</td>
                  <td>{{main_page_value['kospi_foreigner']}}</td>
                  <td>{{main_page_value['kospi_Institutional']}}</td>
              </tr>
              <tr>
              <td>코스닥</td>
                  <td>{{main_page_value['kosdaq_individual']}}</td>
                  <td>{{main_page_value['kosdaq_foreigner']}}</td>
                  <td>{{main_page_value['kosdaq_Institutional']}}</td>
              </tr>
          </tbody>
      </table>
      <br>
      <table>
        <thead>
          <tr>
          <th>코드</th><th>종가</th><th>변화율</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>코스피</td><td>{{main_page_value['kospi_close']}}</td><td>{{main_page_value['kospi_close_rate']}}</td>
          </tr>
          <tr>
            <td>코스닥</td><td>{{main_page_value['kosdaq_close']}}</td><td>{{main_page_value['kosdaq_close_rate']}}</td>
          </tr>
          <tr>
            <td>나스닥100</td><td>{{main_page_value['nasdaq100_close']}}</td><td>{{main_page_value['nasdaq100_close_rate']}}</td>
          </tr>
          <tr>
            <td>나스닥</td><td>{{main_page_value['nasdaq_close']}}</td><td>{{main_page_value['nasdaq_close_rate']}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="korea_us_container2">
      <head>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://code.highcharts.com/stock/highstock.js"></script>
        <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
      </head>
      <body>
        <div id="container" style="height: 400px; min-width: 310px"></div>
        <script>
          function draw3(){
            var chartdata = [];
            $.getJSON('http://127.0.0.1:5000/test', function (data) {
              $.each(data.kospi_index_data, function(i, item){
                chartdata.push([item.date*1000, item.open,
                item.high, item.low,item.close]);
              });
            }).done(function(){
              Highcharts.stockChart('container',{
                title: {
                  text: '코스피(KOSPI)'
                },
                rangeSelector: {
                  buttons: [
                  {type: 'day',count: 1,text: '1d'},
                  {type: 'all',count: 1,text: 'All'}
                  ],
                selected: 1,
                inputEnabled: true
              },
                    plotOptions: {
                      candlestick: {
                        downColor: 'blue',
                        upColor: 'red'
                      }
                    },
                    series: [{
                    type: 'candlestick',
                    data: chartdata,
                    tooltip: {
                      valueDecimals: 8
                    }
                  }]
                });
              });
            }
            draw3();
        </script>
      </body>
    </div>

    <div class="korea_us_container3">
      <h3>코스피 당일 종가 및 거래량 변화</h3>
      <div class="tab tab1">
        <a href="#kospi_volatily_total" class="tablinks">변동성 순위</a>
        <a href="#kospi_volatily_up" class="tablinks">상승 순위</a>
        <a href="#kospi_volatily_down" class="tablinks">하락 순위</a>
        <a href="#kospi_volume" class="tablinks">거래량 순위</a>
      </div>

      <div id="kospi_volatily_total" class="tabcontent">
        <table>
          <tr>
            <th>순위</th>
            <th>코드</th>
            <th>종목명</th>
            <th>변동률</th>
          </tr>
          {% for num,detail in kospi_change_data[2].items() %}
          <tr>
            <td>{{ num+1}}</td>
            <td>{{ detail['code']}}</td>
            <td>{{ detail['name']}}</td>
            <td>{{ detail['rate']}}%</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div id="kospi_volatily_up" class="tabcontent">
        <table>
          <tr>
            <th>순위</th>
            <th>코드</th>
            <th>종목명</th>
            <th>상승률</th>
          </tr>
          {% for num,detail in kospi_change_data[1].items() %}
          <tr>
            <td>{{ num+1}}</td>
            <td>{{ detail['code'] }}</td>
            <td>{{ detail['name'] }}</td>
            <td>{{ detail['rate'] }}%</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div id="kospi_volatily_down" class="tabcontent">
        <table>
          <tr>
            <th>순위</th>
            <th>코드</th>
            <th>종목명</th>
            <th>하락률</th>
          </tr>
          {% for num,detail in kospi_change_data[0].items() %}
          <tr>
            <td>{{ num+1}}</td>
            <td>{{ detail['code']}}</td>
            <td>{{ detail['name']}}</td>
            <td>{{ detail['rate']}}%</td>
          </tr>
          {% endfor %}
        </table>      </div>

      <div id="kospi_volume" class="tabcontent">
        <table>
          <tr>
            <th>순위</th>
            <th>코드</th>
            <th>종목명</th>
            <th>거래량</th>
          </tr>
          {% for num,detail in kospi_volume_data.items() %}
          <tr>
            <td>{{ num+1}}</td>
            <td>{{ detail['code'] }}</td>
            <td>{{ detail['name'] }}</td>
            <td>{{ detail['volume'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <div class="korea_us_container4">
      <h3>코스닥 당일 종가 및 거래량 변화</h3>
      <div class="tab tab5">
        <a href="#kodaq_volatily_total" class="tablinks">변동성 순위</a>
        <a href="#kodaq_volatily_up" class="tablinks">상승 순위</a>
        <a href="#kodaq_volatily_down" class="tablinks">하락 순위</a>
        <a href="#kodaq_volume" class="tablinks">거래량 순위</a>
      </div>

      <div id="kodaq_volatily_total" class="tabcontent">
        <table>
          <tr>
            <th>순위</th>
            <th>코드</th>
            <th>종목명</th>
            <th>변동률</th>
          </tr>
          {% for num,detail in kosdaq_change_data[2].items() %}
          <tr>
            <td>{{ num+1}}</td>
            <td>{{ detail['code']}}</td>
            <td>{{ detail['name']}}</td>
            <td>{{ detail['rate']}}%</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div id="kodaq_volatily_up" class="tabcontent">
        <table>
          <tr>
            <th>순위</th>
            <th>코드</th>
            <th>종목명</th>
            <th>상승률</th>
          </tr>
          {% for num,detail in kosdaq_change_data[1].items() %}
          <tr>
            <td>{{ num+1}}</td>
            <td>{{ detail['code'] }}</td>
            <td>{{ detail['name'] }}</td>
            <td>{{ detail['rate'] }}%</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div id="kodaq_volatily_down" class="tabcontent">
        <table>
          <tr>
            <th>순위</th>
            <th>코드</th>
            <th>종목명</th>
            <th>하락률</th>
          </tr>
          {% for num,detail in kosdaq_change_data[0].items() %}
          <tr>
            <td>{{ num+1}}</td>
            <td>{{ detail['code']}}</td>
            <td>{{ detail['name']}}</td>
            <td>{{ detail['rate']}}%</td>
          </tr>
          {% endfor %}
        </table>      </div>

      <div id="kodaq_volume" class="tabcontent">
        <table>
          <tr>
            <th>순위</th>
            <th>코드</th>
            <th>종목명</th>
            <th>거래량</th>
          </tr>
          {% for num,detail in kosdaq_volume_data.items() %}
          <tr>
            <td>{{ num+1}}</td>
            <td>{{ detail['code'] }}</td>
            <td>{{ detail['name'] }}</td>
            <td>{{ detail['volume'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

    </div>

    <div class="korea_us_container5">
      <h3>외국인, 기관 거래 현황</h3>
      <div class="tab tab2">
        <a href="#institution_buy" class="tablinks">기관 매수</a>
        <a href="#institution_sell" class="tablinks">기관 매도</a>
        <a href="#foreigner_buy" class="tablinks">외국인 매수</a>
        <a href="#foreigner_sell" class="tablinks">외국인 매도</a>
      </div>

      <div id="institution_buy" class="tabcontent">
        <table>
          <tr>
            <th>순위</th>
            <th>코드</th>
            <th>종목명</th>
            <th>변화량</th>
          </tr>
          {% for num,detail in foreinger_institurion_data[0].items() %}
          <tr>
            <td>{{ num+1}}</td>
            <td>{{ detail[0]}}</td>
            <td>{{ detail[1]}}</td>
            <td>{{ detail[2]}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div id="institution_sell" class="tabcontent">
        <table>
          <tr>
            <th>순위</th>
            <th>코드</th>
            <th>종목명</th>
            <th>변화량</th>
          </tr>
          {% for num,detail in foreinger_institurion_data[1].items() %}
          <tr>
            <td>{{ num+1}}</td>
            <td>{{ detail[0]}}</td>
            <td>{{ detail[1]}}</td>
            <td>{{ detail[2]}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div id="foreigner_buy" class="tabcontent">
        <table>
          <tr>
            <th>순위</th>
            <th>코드</th>
            <th>종목명</th>
            <th>변화량</th>
          </tr>
          {% for num,detail in foreinger_institurion_data[2].items() %}
          <tr>
            <td>{{ num+1}}</td>
            <td>{{ detail[0]}}</td>
            <td>{{ detail[1]}}</td>
            <td>{{ detail[2]}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div id="foreigner_sell" class="tabcontent">
        <table>
          <tr>
            <th>순위</th>
            <th>코드</th>
            <th>종목명</th>
            <th>변화량</th>
          </tr>
          {% for num,detail in foreinger_institurion_data[3].items() %}
          <tr>
            <td>{{ num+1}}</td>
            <td>{{ detail[0]}}</td>
            <td>{{ detail[1]}}</td>
            <td>{{ detail[2]}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <div class="korea_us_container6">
      <h3>저평가 목록</h3>
      <div class="tab tab4">
        <a href="#kospi_low_value" class="tablinks" style="display">코스피</a>
        <a href="#kosdaq_low_value" class="tablinks">코스닥</a>
      </div>
      <div id="kospi_low_value" class="tabcontent">
        <table>
          <thead>
            <tr>
              <th>No.</th>
              <th>코드</th>
              <th>종목명</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div class="pagenumbers"></div>
      </div>

      <div id="kosdaq_low_value" class="tabcontent">
        <table>
          <thead>
            <tr>
              <th>No.</th>
              <th>코드</th>
              <th>종목명</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

        <div class="pagenumbers"></div>
      </div>

    </div>

    <div class="korea_us_container7">
      <h3>시가 총액(우선주는 표시 되지 않음)</h3>
      <div class="tab tab3">
        <a href="#kospi_rank" class="tablinks" style="display">코스피 순위</a>
        <a href="#kosdaq_rank" class="tablinks">코스닥 순위</a>
      </div>
      <div id="kospi_rank" class="tabcontent">
        <table>
          <thead>
            <tr>
              <th>순위</th>
              <th>코드</th>
              <th>종목명</th>
              <th>시가총액</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div class="pagenumbers"></div>
      </div>
      <div id="kosdaq_rank" class="tabcontent">
        <table>
          <thead>
            <tr>
              <th>순위</th>
              <th>코드</th>
              <th>종목명</th>
              <th>시가총액</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div class="pagenumbers"></div>
      </div>
    </div>

    <div class="korea_us_container8">
      <h4>준비중</h4>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script>

        function tabContent(event){
            event.preventDefault();
            $(this).parent().find('a').removeClass('active');
            $(this).addClass('active');
            $(this).parent().parent().find('.tabcontent').hide();
            $($(this).attr('href')).show();
        }

        $('.tab1 a').on('click', tabContent);
        $('.tab2 a').on('click', tabContent);
        $('.tab3 a').on('click', tabContent);
        $('.tab4 a').on('click', tabContent);
        $('.tab5 a').on('click', tabContent);


        $('.tab1 a:first').trigger('click');
        $('.tab2 a:first').trigger('click');
        $('.tab3 a:first').trigger('click');
        $('.tab4 a:first').trigger('click');
        $('.tab5 a:first').trigger('click');

        //코스피 시가총액
        const el1 = document.querySelector('.korea_us_container7').querySelector("#kospi_rank");
        const tableEl1 = el1.querySelector('table > tbody');
        const paginationEl1 = el1.querySelector('.pagenumbers');
        //코스닥 시가총액
        const el3 = document.querySelector('.korea_us_container7').querySelector("#kosdaq_rank");
        const tableEl3 = el3.querySelector('table > tbody');
        const paginationEl3 = el3.querySelector('.pagenumbers');

        //코스피 저평가주식
        const el2 = document.querySelector('.korea_us_container6').querySelector('#kospi_low_value');
        const tableEl2 = el2.querySelector('table > tbody');
        const paginationEl2 = el2.querySelector('.pagenumbers');

        //코스닥 저평가주식
        const el4 = document.querySelector('.korea_us_container6').querySelector('#kosdaq_low_value');
        const tableEl4 = el4.querySelector('table > tbody');
        const paginationEl4 = el4.querySelector('.pagenumbers');

        let state1 = {
            'querySet': null,
            'page': 1,
            'rows': 10,
            'window': 6,
            'pages': 0
        }
        let state2 = {
            'querySet': null,
            'page': 1,
            'rows': 10,
            'window': 6,
            'pages': 0
        }
        let state3 = {
            'querySet': null,
            'page': 1,
            'rows': 10,
            'window': 6,
            'pages': 0
        }
        let state4 = {
            'querySet': null,
            'page': 1,
            'rows': 10,
            'window': 6,
            'pages': 0
        }
        request({
                url: "/api_data"
            })
            .then(result => {
                console.log(result);
                state1.querySet = result.kospi_rank_data
                state2.querySet = result.kospi_low_value_data
                state3.querySet = result.kosdaq_rank_data
                state4.querySet = result.kosdaq_low_value_data

                console.log('result',state1.querySet)
                console.log('result',state2.querySet)
                console.log('result',state3.querySet)
                console.log('result',state4.querySet)

                buildTable(state1, tableEl1)
                setPaginationButton(paginationEl1, state1, tableEl1)
                buildTable(state2, tableEl2)
                setPaginationButton(paginationEl2, state2, tableEl2)
                buildTable(state3, tableEl3)
                setPaginationButton(paginationEl3, state3, tableEl3)
                buildTable(state4, tableEl4)
                setPaginationButton(paginationEl4, state4, tableEl4)
            })

    </script>

  </div>
{% endblock %}

