{% extends 'base.html' %}

{% block main %}
  <h1> KOREA PAGE </h1>
  <div class="korea_us_container">

    <div class="korea_us_container1">
      <h3> 시장 정보 </h3>
      <div class="basic_box">
        개인 : {{main_page_value['kospi_individual']}},
        외국인 : {{main_page_value['kospi_foreigner']}},
        기관 : {{main_page_value['kospi_Institutional']}}
      </div>
      <table>
        <thead>
          <tr>
          <th>코드</th><th>현재가</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>코스피</td><td>{{main_page_value['kospi_close']}}</td>
          </tr>
          <tr>
            <td>코스닥</td><td>{{main_page_value['kosdaq_close']}}</td>
          </tr>
          <tr>
            <td>나스닥100</td><td>{{main_page_value['nasdaq100_close']}}</td>
          </tr>
          <tr>
            <td>나스닥</td><td>{{main_page_value['nasdaq_close']}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="korea_us_container2">
      <h3>코스피 그래프</h3>
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
      <div id="tradingview_85626"></div>
      <div class="tradingview-widget-copyright">TradingView 제공 <a href="https://kr.tradingview.com/symbols/KRX-KOSPI200/" rel="noopener" target="_blank"><span class="blue-text">KOSPI200 차트</span></a></div>
      <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
      <script type="text/javascript">
        new TradingView.widget(
        {
        "autosize": true,
        "symbol": "KRX:KOSPI200",
        "interval": "D",
        "timezone": "Asia/Seoul",
        "theme": "light",
        "style": "1",
        "locale": "kr",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "allow_symbol_change": true,
        "container_id": "tradingview_85626"
        }
        );
      </script>
      </div>
      <!-- TradingView Widget END -->
    </div>

    <div class="korea_us_container3">
    <h3>TOP 변동성</h3>
      <div class="tab tab1">
        <a href="#volatily_total" class="tablinks">변동성 순위</a>
        <a href="#volatily_up" class="tablinks">상승 순위</a>
        <a href="#volatily_down" class="tablinks">하락 순위</a>
        <a href="#volume" class="tablinks">거래량 순위</a>
      </div>

      <div id="volatily_total" class="tabcontent">
        <h3>전체 비율 순위</h3>
        <table>
          <tr>
            <th>순위</th>
            <th>종목 코드</th>
            <th>종명 명</th>
            <th>변동률</th>
          </tr>
          {% for num,detail in change_data[2].items() %}
          <tr>
            <td>{{ num+1}}</td>
            <td>{{ detail['code']}}</td>
            <td>{{ detail['name']}}</td>
            <td>{{ detail['rate']}}%</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div id="volatily_up" class="tabcontent">
        <h3>상승 비율 순위</h3>
        <table>
          <tr>
            <th>순위</th>
            <th>종목 코드</th>
            <th>종명 명</th>
            <th>상승률</th>
          </tr>
          {% for num,detail in change_data[1].items() %}
          <tr>
            <td>{{ num+1}}</td>
            <td>{{ detail['code'] }}</td>
            <td>{{ detail['name'] }}</td>
            <td>{{ detail['rate'] }}%</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div id="volatily_down" class="tabcontent">
        <h3>하락 비율 순위</h3>
        <table>
          <tr>
            <th>순위</th>
            <th>종목 코드</th>
            <th>종명 명</th>
            <th>하락률</th>
          </tr>
          {% for num,detail in change_data[0].items() %}
          <tr>
            <td>{{ num+1}}</td>
            <td>{{ detail['code']}}</td>
            <td>{{ detail['name']}}</td>
            <td>{{ detail['rate']}}%</td>
          </tr>
          {% endfor %}
        </table>      </div>

      <div id="volume" class="tabcontent">
        <h3>거래량 순위</h3>
        <table>
          <tr>
            <th>순위</th>
            <th>종목 코드</th>
            <th>종명 명</th>
            <th>거래량</th>
          </tr>
          {% for num,detail in volume_data.items() %}
          <tr>
            <td>{{ num+1}}</td>
            <td>{{ detail['code'] }}</td>
            <td>{{ detail['name'] }}</td>
            <td>{{ detail['volume'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <div class="korea_us_container4">
      <h3>외국인. 기관 거래 현황</h3>
    </div>

    <div class="korea_us_container5">
      <h3>시가 총액</h3>
      <p>우선주는 표시 되지 않음</p>
      <table id="koreanStockList">
        <thead>
          <tr>
              <th>코드</th>
              <th>코드명</th>
              <th>xxxx</th>
              <th>yyyy</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div class="pagenumbers"></div>
    </div>

    <div class="korea_us_container6">
    <h3>저평가 목록</h3>
      <p>재무재표로 판단 / 순서 X </p>
      <table id="lowValueList">
        <thead>
          <tr>
            <th>종목 코드</th>
            <th>종명 명</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div class="pagenumbers"></div>
    </div>

    <div class="korea_us_container7">
      <h3>주가 예측</h3>
    </div>

    <div class="korea_us_container8">
      <h3>모델 설명</h3>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script>
        function tabContent(event){
            event.preventDefault();
            $(this).parent().find('a').removeClass('active');
            $(this).addClass('active');
            $(this).parent().parent().find('.tabcontent').hide();
            $($(this).attr('href')).show();
        }

        $('.tab1 a').on('click', tabContent);


        $('.tab1 a:first').trigger('click');

        //한국주식
        const el1 = document.querySelector('.korea_us_container5');
        const tableEl1 = el1.querySelector('table > tbody');
        const paginationEl1 = el1.querySelector('.pagenumbers');
        //저평가주식
        const el2 = document.querySelector('.korea_us_container6');
        const tableEl2 = el2.querySelector('table > tbody');
        const paginationEl2 = el2.querySelector('.pagenumbers');
        let state1 = {
            'querySet': null,
            'page': 1,
            'rows': 10,
            'window': 5,
            'pages': 0
        }
        let state2 = {
            'querySet': null,
            'page': 1,
            'rows': 10,
            'window': 5,
            'pages': 0
        }
        request({
                url: "/test"
            })
            .then(result => {
                console.log(result);
                state1.querySet = result.kr_stock_list
                state2.querySet = result.low_value_data
                console.log('result',state1.querySet)
                console.log('result',state2.querySet)

                buildTable(state1, tableEl1)
                setPaginationButton(paginationEl1, state1, tableEl1)
                buildTable(state2, tableEl2)
                setPaginationButton(paginationEl2, state2, tableEl2)
            })
            .catch(err => console.log('then error : ', err))




    </script>

  </div>
{% endblock %}

