{% extends 'base.html' %}

{% block main %}
  <div class="main_container">

    <div class="container_main1">
      <h3>INDEX</h3>
      <table>
        <thead>
          <tr>
           <th>INDEX</th><th>종가</th><th>전일대비</th><th>등락률</th>
          </tr>
        </thead>
        <tbody>
      <tr>
      <td>코스피</td><td>number</td><td>number</td><th>number</th>
      </tr>
      <tr>
      <td>코스닥</td><td>number</td><td>number</td><th>number</th>
      </tr>
      <tr>
      <td>나스닥100</td><td>number</td><td>number</td><th>number</th>
      </tr>
      <tr>
      <td>다우산업</td><td>number</td><td>number</td><th>number</th>
      </tr>
      <tr>
      <td>S&P500</td><td>number</td><td>number</td><th>number</th>
      </tr>
      </tbody>
      </table>
      </div>

    <div class="container_main2">
      <h3>시장 지표</h3>
      <table>
        <thead>
          <tr>
            <th></th><th>종가</th><th>전일대비</th><th>등락률</th>
          </tr>
        </thead>
        <tbody>
      <tr>
      <td>달러</td><td>number</td><td>number</td><th>number</th>
      </tr>
      <tr>
      <td>유로</td><td>number</td><td>number</td><th>number</th>
      </tr>
      <tr>
      <td>엔화</td><td>number</td><td>number</td><th>number</th>
      </tr>
      <tr>
      <td>달러인덱스</td><td>number</td><td>number</td><th>number</th>
      </tr>
      <tr>
      <td>금</td><td>number</td><td>number</td><th>number</th>
      </tr>
      <tr>
      <td>WTI</td><td>number</td><td>number</td><th>number</th>
      </tr>
      </tbody>
      </table>
    </div>

    <div class="container_main3">
    <h3>보유중</h3>
    <div class="tabs">
    <ul class="tab-links">
    <li class="active"><a href="#tab1">한국 주식</a></li>
    <li><a href="#tab2">미국 주식</a></li>
    <li><a href="#tab3">코인</a></li>
    </ul>

    <div class="tab-content">
    <div id="tab1" class="tab active">
    <table>
    <thead>
    <tr>
    <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    </tbody>
    </table>
    </div>
    <div id="tab2" class="tab">
    <table>
    <thead>
    <tr>
    <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    </tbody>
    </table>
    </div>
    <div id="tab3" class="tab">
    <table>
    <thead>
    <tr>
    <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    </tbody>
    </table>
    </div>

    </div>
    </div>
    </div>

    <div class="container_main4">
    <h3>관심종목</h3>
    <div class="tabs">
    <ul class="tab-links">
    <li class="active"><a href="#tab1">한국 주식</a></li>
    <li><a href="#tab2">미국 주식</a></li>
    <li><a href="#tab3">코인</a></li>
    </ul>

    <div class="tab-content">
    <div id="tab1" class="tab active">
    <table>
    <thead>
    <tr>
    <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    </tbody>
    </table>
    </div>
    <div id="tab2" class="tab">
    <table>
    <thead>
    <tr>
    <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    </tbody>
    </table>
    </div>
    <div id="tab3" class="tab">
    <table>
    <thead>
    <tr>
    <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    </tbody>
    </table>
    </div>

    </div>
    </div>
    </div>

    <div class="container_main5">
      <h3>기타</h3>
      <div class="tabs">
      <ul class="tab-links">
      <li class="active"><a href="#tab1">배당주</a></li>
      <li><a href="#tab2">남들이한거</a></li>
      <li><a href="#tab3">추후 추가</a></li>
      </ul>

      <div class="tab-content">
        <div id="tab1" class="tab active">
        <table>
        <thead>
        <tr>
        <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
        </tr>
        <tr>
        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
        </tr>
        <tr>
        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
        </tr>
        <tr>
        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
        </tr>
        <tr>
        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
        </tr>
        </tbody>
        </table>
        </div>
        <div id="tab2" class="tab">
        <table>
        <thead>
        <tr>
        <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
        </tr>
        <tr>
        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
        </tr>
        <tr>
        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
        </tr>
        <tr>
        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
        </tr>
        <tr>
        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
        </tr>
        </tbody>
        </table>
        </div>
        <div id="tab3" class="tab">
        <table>
        <thead>
        <tr>
        <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
        </tr>
        <tr>
        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
        </tr>
        <tr>
        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
        </tr>
        <tr>
        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
        </tr>
        <tr>
        <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
        </tr>
        </tbody>
        </table>
        </div>

        </div>
      </div>
    </div>
  </div>

  <div class="today_ant">
    <h2>test</h2>
    <p>코스피 코스닥 증감률 / 외국인 개인 기간 투자자 현황판 </p>
  </div>
{% endblock %}