{% extends 'base.html' %}

{% block main %}
<script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>

  <div class="main_container">

    <div class="container_main1">
      <h3>코스피/코스닥 현황</h3>
      <table>
        <thead>
          <tr>
            <th></th><th>개인</th><th>외국인</th><th>기관</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>코스피</td>
            <td>{{main_page_value['kospi_individual']}}</td>
            <td>{{main_page_value['kospi_foreigner']}}</td>
            <th>{{main_page_value['kospi_Institutional']}}</th>
          </tr>
          <tr>
            <td>코스닥</td>
            <td>{{main_page_value['kosdaq_individual']}}</td>
            <td>{{main_page_value['kosdaq_foreigner']}}</td>
            <th>{{main_page_value['kosdaq_Institutional']}}</th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="container_main2">
      <h3>시간 정보</h3>
      <div class="basic_box">
        {{current_time}}
      </div>
    </div>

    <div class="container_main3">
      <h3>INDEX</h3>
      <table>
        <thead>
          <tr>
            <th>INDEX</th><th>종가</th><th>전일대비</th><th>등락률</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>코스피</td>
            <td>{{main_page_value['kospi_close']}}</td>
            <td>{{main_page_value['kospi_close_diff']}}</td>
            <th>{{main_page_value['kospi_close_rate']}}</th>
          </tr>
          <tr>
            <td>코스닥</td>
            <td>{{main_page_value['kosdaq_close']}}</td>
            <td>{{main_page_value['kosdaq_close_diff']}}</td>
            <th>{{main_page_value['kosdaq_close_rate']}}</th>
          </tr>
          <tr>
            <td>나스닥</td>
            <td>{{main_page_value['nasdaq_close']}}</td>
            <td>{{main_page_value['nasdaq_close_diff']}}</td>
            <th>{{main_page_value['nasdaq_close_rate']}}</th>
          </tr>
          <tr>
            <td>나스닥100</td>
            <td>{{main_page_value['nasdaq100_close']}}</td>
            <td>{{main_page_value['nasdaq100_close_diff']}}</td>
            <th>{{main_page_value['nasdaq100_close_rate']}}</th>
          </tr>
          <tr>
            <td>다우산업</td>
            <td>{{main_page_value['dow_close']}}</td>
            <td>{{main_page_value['dow_close_diff']}}</td>
            <th>{{main_page_value['dow_close_rate']}}</th>
          </tr>
          <tr>
            <td>S&P500</td>
            <td>{{main_page_value['snp500_close']}}</td>
            <td>{{main_page_value['snp500_close_diff']}}</td>
            <th>{{main_page_value['snp500_close_rate']}}</th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="container_main4">
    <h3>시장 지표</h3>
      <table>
      <thead>
        <tr>
          <th></th><th>종가</th><th>전일대비</th><th>등락률</th>
        </tr>
      </thead>
      <tbody>
        <tr>
         <td>달러</td>
          <td>{{main_page_value['usd_close']}}</td>
          <td>{{main_page_value['usd_close_diff']}}</td>
          <th>{{main_page_value['usd_close_rate']}}</th>
        </tr>
        <tr>
          <td>유로</td>
          <td>{{main_page_value['eur_close']}}</td>
          <td>{{main_page_value['eur_close_diff']}}</td>
          <th>{{main_page_value['eur_close_rate']}}</th>
        </tr>
        <tr>
         <td>엔화</td>
          <td>{{main_page_value['jpy_close']}}</td>
          <td>{{main_page_value['jpy_close_diff']}}</td>
          <th>{{main_page_value['jpy_close_rate']}}</th>
        </tr>
        <tr>
          <td>달러인덱스</td>
          <td>{{main_page_value['dollorindex_close']}}</td>
          <td>{{main_page_value['dollorindex_close_diff']}}</td>
          <th>{{main_page_value['dollorindex_close_rate']}}</th>
        </tr>
        <tr>
          <td>금</td>
          <td>{{main_page_value['gold_close']}}</td>
          <td>{{main_page_value['gold_close_diff']}}</td>
          <th>{{main_page_value['gold_close_rate']}}</th>
        </tr>
        <tr>
          <td>WTI</td>
          <td>{{main_page_value['wti_close']}}</td>
          <td>{{main_page_value['wti_close_diff']}}</td>
          <th>{{main_page_value['wti_close_rate']}}</th>
        </tr>
      </tbody>
      </table>
    </div>

    <div class="container_main5">
      <h3>보유중</h3>
      <div class="tab tab1">
        <a href="#kr_stock_1" class="tablinks">한국주식</a>
        <a href="#us_stock_value_1" class="tablinks">미국(가치)</a>
        <a href="#us_stock_div_1" class="tablinks">미국(배당)</a>
        <a href="#coin_1" class="tablinks">코인</a>
    </div>

    <div id="kr_stock_1" class="tabcontent">
      <table>
        <thead>
          <tr>
           <th>NO.</th><th>코드</th><th>현재가</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>한국주식</td><td>-</td><td>-</td>
          </tr>
          <tr>
            <td>-</td><td>-</td><td>-</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="us_stock_value_1" class="tabcontent">
      <table>
        <thead>
          <tr>
           <th>NO.</th><th>코드</th><th>현재가</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>미국 가치주</td><td>-</td><td>-</td>
          </tr>
          <tr>
            <td>-</td><td>-</td><td>-</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="us_stock_div_1" class="tabcontent">
      <table>
        <thead>
          <tr>
           <th>NO.</th><th>코드</th><th>현재가</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>미국 배당주</td><td>-</td><td>-</td>
          </tr>
          <tr>
            <td>-</td><td>-</td><td>-</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="coin_1" class="tabcontent">
      <table>
        <thead>
          <tr>
           <th>코인</th><th>코드</th><th>현재가</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>-</td><td>-</td><td>-</td>
          </tr>
          <tr>
            <td>-</td><td>-</td><td>-</td>
          </tr>
        </tbody>
      </table>
    </div>


    </div>

    <div class="container_main6">
      <h3>관심 종목</h3>
      <div class="tab tab2">
        <a href="#kr_stock_2" class="tablinks">한국주식</a>
        <a href="#us_stock_value_2" class="tablinks">미국(가치)</a>
        <a href="#us_stock_div_2" class="tablinks">미국(배당)</a>
        <a href="#coin_2" class="tablinks">코인</a>
      </div>

    <div id="kr_stock_2" class="tabcontent">
        <h3>한국주식내용</h3>
        <p>ㅎㅎㅎㅎ</p>
    </div>

    <div id="us_stock_value_2" class="tabcontent">
        <h3>미국 가치주 내용</h3>
        <p>ㄱㄱㄱㄱㄱ</p>
    </div>

    <div id="us_stock_div_2" class="tabcontent">
        <h3>미국 배당주 내용</h3>
        <p>ㅂㅂㅂㅂㅂ</p>
    </div>

    <div id="coin_2" class="tabcontent">
        <h3>코인 내용</h3>
        <p>GAMBLING</p>
    </div>

    </div>

    <div class="container_main7">
      <h3>추천 종목</h3>
      <div class="tab tab3">
        <a href="#kr_stock_3" class="tablinks">한국주식</a>
        <a href="#us_stock_value_3" class="tablinks">미국(가치)</a>
        <a href="#us_stock_div_3" class="tablinks">미국(배당)</a>
        <a href="#coin_3" class="tablinks">코인</a>
      </div>

    <div id="kr_stock_3" class="tabcontent">
        <h3>한국주식내용</h3>
        <p>ㅎㅎㅎㅎ</p>
    </div>

    <div id="us_stock_value_3" class="tabcontent">
        <h3>미국 가치주 내용</h3>
        <p>ㄱㄱㄱㄱㄱ</p>
    </div>

    <div id="us_stock_div_3" class="tabcontent">
        <h3>미국 배당주 내용</h3>
        <p>ㅂㅂㅂㅂㅂ</p>
    </div>

    <div id="coin_3" class="tabcontent">
        <h3>코인 내용</h3>
        <p>GAMBLING</p>
    </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script>
        function tabContent(event){
            event.preventDefault();
            $(this).parent().find('a').removeClass('active');
            $(this).addClass('active');
            $(this).parent().parent().find('.tabcontent').hide();
            $($(this).attr('href')).show();
        }

        $('.tab1 a').on('click', tabContent);
        $('.tab2 a').on('click', tabContent);
        $('.tab3 a').on('click', tabContent);


        $('.tab1 a:first').trigger('click');
        $('.tab2 a:first').trigger('click');
        $('.tab3 a:first').trigger('click');

    </script>


  </div>
{% endblock %}