{% extends 'base.html' %}

{% block main %}
  <body>

    <div class="sales_log_container">

        <form class="sales_log_box1" name = "search_form">
            <fieldset>
              <h2><legend>종목 검색</legend></h2>
              <ul>
                <h4>검색 조건을 입력해 주세요.</h4>
                <li>    
                  <legend> 종목 : </legend>
                  <input type="text" value="종목이나 코드를 입력" onclick="this.value=''" id = "search_stock_name">
                </li>
                <li>
                  <legend> 종류 : </legend>
                  <label><input type="checkbox" name="search_stock_kind" value="total_stock" >전체</label>
                  <label><input type="checkbox" name="search_stock_kind" value="kospi">코스피</label>
                  <label><input type="checkbox" name="search_stock_kind" value="kosdaq">코스닥</label>
                  <label><input type="checkbox" name="search_stock_kind" value="nasdaq">나스닥</label>
                </li>
                <li>
                  <legend>거래유형 : </legend>
                  <label><input type="checkbox" name="search_stock_type" value="total_kind">전체</label>
                  <label><input type="checkbox" name="search_stock_type" value="buy">매수</label>
                  <label><input type="checkbox" name="search_stock_type" value="sell">매도</label>
                  <label><input type="checkbox" name="search_stock_type" value="look">관심</label>
                </li>
              </ul>
              <button type="button" id="search_btn" class ="search_btn">검색</button>
            </fieldset>
            <div id="test_list"></div>
        </form>
        <form class="sales_log_box2">
          <fieldset>
            <h2>종목 추가 하기</h2>
            <ul>
              <li>
                <label><input type="radio" name="add_stock_type" value="register_buy">매수</label>
                <label><input type="radio" name="add_stock_type" value="register_sell">매도</label>
                <label><input type="radio" name="add_stock_type" value="register_look">관심</label>
              </li>
              <li>
                <input type="text" value="종목, 코드를 입력" onclick="this.value=''" id = "register_stock_name_code">
                <input type="text" value="가격 입력" onclick="this.value=''" id = "register_stock_price">
                <input type="text" value="매수, 매도 이유" onclick="this.value=''" id = "register_stock_reason">
              </li>
              <button type="button" id="register_btn" class ="register_btn">등록</button>
            </ul>
          </fieldset>  
        </form>

        <div class="sales_log_box3">
          <h2>리스트</h2>   
          <div id="search_stock_list"></div> 
        </div>
    </div>
      <script>

      // 종목 검색

      var stock_name_list = [];
      var stock_kind_list = [];
      var stock_type_list = [];

      var search_btn = document.querySelector("#search_btn");
      search_btn.addEventListener("click",get_kind_stock);

      function get_kind_stock(){

          var each_kind_list = [];
          var each_type_list = [];
          var stock_name = document.querySelector("#search_stock_name").value;

          for (i =0; i<4; i++){
              each_kind_list.push(document.getElementsByName("search_stock_kind")[i].checked);
              each_type_list.push(document.getElementsByName("search_stock_type")[i].checked);
          }
          stock_name_list.push([stock_name]);
          stock_type_list.push([each_type_list]);
          stock_kind_list.push([each_kind_list]);
          stock_list_show1();
      }

      function stock_list_show1(){
          var list = "<ul>";
          for (var i=0; i<stock_name_list.length; i++){
              list += "<li>"+"종목이름 : " + stock_name_list[i] + "/ 타입체크 : "+ stock_kind_list[i]  + "/ 거래 가격 : " + stock_type_list[i];
          }
          list += "</ul>";
          document.querySelector("#test_list").innerHTML = list;
      }


      // 종목 추가하기 <<

      var stock_type_list = [];
      var stock_code_name_list = [];
      var stock_price_list = [];
      var stock_reason_list = [];


      var register_btn = document.querySelector("#register_btn");
      register_btn.addEventListener("click",addList);

      function addList(){
          var stock_type = document.forms[3].add_stock_type.value;
          var stock_name = document.querySelector("#register_stock_name_code").value;
          var stock_price = document.querySelector("#register_stock_price").value;
          var stock_reason = document.querySelector("#register_stock_reason").value;

          if ((stock_type != "")&(stock_name != "") & (stock_price != "") & (stock_reason != "")){

              stock_type_list.push(stock_type);

              stock_code_name_list.push(stock_name);
              // document.querySelector("#register_stock_name_code").value = "";
              document.querySelector("#register_stock_name_code").focus();

              stock_price_list.push(stock_price);
              // document.querySelector("#register_stock_price").value = "";
              document.querySelector("#register_stock_price").focus();

              stock_reason_list.push(stock_reason);
              // document.querySelector("#register_stock_reason").value = "";
              document.querySelector("#register_stock_reason").focus();

          }
          stock_list_show2();
      }

      function stock_list_show2(){
          var list = "<ul>";
          for (var i=0; i<stock_code_name_list.length; i++){

              list += "<li>"+"유형 : " + stock_type_list[i] +" / 거래 종목 명 : "+ stock_code_name_list[i] +
              " / 거래 가격 : "+ stock_price_list[i] +" / 거래 이유 : "+ stock_reason_list[i]+
              "<span class='delete_stock' id=" +i+">X</span></li>";
          }
          list += "</ul>";

          document.querySelector("#search_stock_list").innerHTML = list;

          var remove = document.querySelectorAll(".delete_stock");

          for (var i=0; i<remove.length; i++) {
              remove[i].addEventListener("click", removeList);
          }

      }

      function removeList() {
          var id = this.getAttribute("id");
          stock_code_name_list.splice(id,1);
          stock_list_show2();
      }


      </script>
    </body>
{% endblock %}
