{% extends 'base.html' %}

{% block main %}

    <div class="search_container">
        <div class="search_container1">
            <h4>어디갓어{{massage}}</h4>
            <p>코스피 => 개미현황 : {{main_page_value[3]}}, 외국인 투자자 : {{main_page_value[4]}}, 기관 투자자 : {{main_page_value[5]}}</p>
            <p>코스닥 => 개미현황 : {{main_page_value[9]}}, 외국인 투자자 : {{main_page_value[10]}}, 기관 투자자 : {{main_page_value[11]}}</p>
        </div>
        <div class="search_container2">CONTENTS2</div>
        <div class="search_container3">CONTENTS3</div>
        <div class="search_container4">CONTENTS4</div>
        <div class="search_container5">CONTENTS5</div>
        <div class="search_container6">CONTENTS6</div>
    </div>
{% endblock %}

