{% extends 'base.html' %}

    {% block main %}
    <h3> 매매 일지 </h3>
    {% if g.user %}
    {% if request.endpoint == 'transaction_list' %}
        <div class="sales_log_container">

        <form class="sales_log_box1"  method=post action="{{ url_for('detail_search_stock')}}">
            <fieldset>
                <h2><legend>종목 검색</legend></h2>
                <ul>
                    <h4>검색 조건을 입력해 주세요.</h4>
                    <li>
                        <legend> 종목 : </legend>
                        <input type="text" name = "code">
                    </li>
                    <li>
                        <legend> 종류 : </legend>
                        <label><input type="checkbox" name="market" value="total_market" checked >전체</label>
                        <label><input type="checkbox" name="market" value="KOSPI">코스피</label>
                        <label><input type="checkbox" name="market" value="KOSDAQ">코스닥</label>
                        <label><input type="checkbox" name="market" value="NASDAQ">나스닥</label>
                    </li>
                    <li>
                        <legend>거래유형 : </legend>
                        <label><input type="checkbox" name="transaction_type" value="total_transaction_type" checked>전체</label>
                        <label><input type="checkbox" name="transaction_type" value="look">관심</label>
                        <label><input type="checkbox" name="transaction_type" value="buy">매수</label>
                        <label><input type="checkbox" name="transaction_type" value="sell">매도</label>
                    </li>
                </ul>
                <button type=sumit>검색</button>
            </fieldset>
            <div id="test_list"></div>
        </form>

        <form class="sales_log_box2" action="{{ url_for('add_stock')}}" method=post>
        <fieldset >
            <h2>종목 추가 하기</h2>
            <ul>
                <li>
                    <label><input type="radio" name="transaction_type" value="look" checked >관심</label>
                    <label><input type="radio" name="transaction_type" value="buy">매수</label>
                    <label><input type="radio" name="transaction_type" value="sell">매도</label>
                </li>
                <li>
                    코드나 종목 입력 : <input type="text" name = "code">
                </li>
                <li>
                    가격 입력 : <input type="text" name = "price">
                </li>
                <li>
                    매도 및 매수 이유 입력 : <input type="text" name = "reason">
                </li>
                <button type=sumit>등록</button>
            </ul>
        </fieldset>
        </form>
        {% endif %}

        <form class=sales_log_box3 method="post" >
            <h2>--검색 결과--</h2>
            <table>
                <tr>
                    <th>타입</th>
                    <th>코드</th>
                    <th>종목명</th>
                    <th>시장종류</th>
                    <th>가격</th>
                    <th>이유</th>
                    <th>등록일</th>
                </tr>
                {% for message in filter_messages %}
                <tr>
                    <td>{{ message.transaction_type}}</td>
                    <td>{{ message.code}}</td>
                    <td>{{ message.name}}</td>
                    <td>{{ message.market}}</td>
                    <td>{{ message.price}}</td>
                    <td>{{ message.reason}}</td>
                    <td>{{ message.pub_date}}</td>
                </tr>
                {% endfor %}
            </table>
        </form>


        <form class=sales_log_box4 action="{{url_for('delete')}}" method="post" >
            <h2>전체 종목 리스트</h2>
            <table>
                <tr>
                    <th>타입</th>
                    <th>코드</th>
                    <th>종목명</th>
                    <th>시장종류</th>
                    <th>가격</th>
                    <th>이유</th>
                    <th>등록일</th>
                    <th>삭제?</th>
                </tr>
                {% for message in messages %}
                <tr>
                    <td>{{ message.transaction_type}}</td>
                    <td>{{ message.code}}</td>
                    <td>{{ message.name}}</td>
                    <td>{{ message.market}}</td>
                    <td>{{ message.price}}</td>
                    <td>{{ message.reason}}</td>
                    <td>{{ message.pub_date}}</td>
                    <td>
                    <input type="hidden" class="form-control" name="idx" value="{{message.message_id}}">
                    <button type="submit">삭제 </button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </form>


{% endif %}
        </div>
{% endblock %}
