{% extends 'base.html' %}

{% block main %}
  <h1> US PAGE </h1>

  <div class="korea_us_container">

    <div class="korea_us_container1">
      <div class="basic_box">
        <p>나스닥 : {{main_page_value['nasdaq_close']}}({{main_page_value['nasdaq_close_rate']}}%)/나스닥100 : {{main_page_value['nasdaq100_close']}}({{main_page_value['nasdaq100_close_rate']}}%)</p>
        <p>다우산업 : {{main_page_value['dow_close']}}({{main_page_value['dow_close_rate']}}%) / S&P500 : {{main_page_value['snp500_close']}}({{main_page_value['snp500_close_rate']}}%)</p>
      </div>
    </div>

    <div class="korea_us_container2">
      <div class="basic_box">
        {{current_time}}
      </div>
    </div>

    <div class="korea_us_container3">
      <h3>TOP 변동성</h3>
      <div class="tab tab1">
        <a href="#volatily_total" class="tablinks">변동성 순위</a>
        <a href="#volatily_up" class="tablinks">상승 순위</a>
        <a href="#volatily_down" class="tablinks">하락 순위</a>
        <a href="#volume" class="tablinks">거래량 순위</a>
      </div>

    <div id="volatily_total" class="tabcontent">
        <h3>TOP 변동성</h3>
        <p>내용</p>
    </div>

    <div id="volatily_up" class="tabcontent">
        <h3>상승 비율 순위</h3>
        <p>내용</p>
    </div>

    <div id="volatily_down" class="tabcontent">
        <h3>하락 비율 순위</h3>
        <p>내용</p>
    </div>

    <div id="volume" class="tabcontent">
        <h3>거래량 순위</h3>
        <p>내용</p>
    </div>

    </div>

    <div class="korea_us_container4">
      <h3>저평가 목록</h3>
      <table>
        <thead>
          <tr>
           <th>NO.</th><th>코드</th><th>현재가</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>-</td><td>-</td><td>-</td>
          </tr>
          <tr>
            <td>-</td><td>-</td><td>-</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="korea_us_container5">
    <h3>추천 종목(가치주)</h3>
      <table>
        <thead>
          <tr>
           <th>NO.</th><th>코드</th><th>현재가</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>-</td><td>-</td><td>-</td>
          </tr>
          <tr>
            <td>-</td><td>-</td><td>-</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="korea_us_container6">
    <h3>TOP 배당주 목록</h3>
      <table>
        <thead>
          <tr>
            <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
          </tr>
          <tr>
            <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="korea_us_container7">
      <h3>추천 종목(배당주)</h3>
        <table>
          <thead>
            <tr>
              <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
            <tr>
              <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
            </tr>
          </tbody>
        </table>
    </div>

    <div class="korea_us_container8">
      <h3>보유중</h3>
      <table>
        <thead>
          <tr>
           <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
           <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
          </tr>
          <tr>
           <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="korea_us_container9">
      <h3>매매기록</h3>
      <table>
        <thead>
          <tr>
           <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
           <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
          </tr>
          <tr>
           <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="korea_us_container10">
      <h3>관심 종목</h3>
      <table>
        <thead>
          <tr>
          <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
          </tr>
        </thead>
          <tbody>
          <tr>
            <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
          </tr>
          <tr>
            <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script>
      function tabContent(event){
          event.preventDefault();
          $(this).parent().find('a').removeClass('active');
          $(this).addClass('active');
          $(this).parent().parent().find('.tabcontent').hide();
          $($(this).attr('href')).show();
      }

      $('.tab1 a').on('click', tabContent);


      $('.tab1 a:first').trigger('click');

  </script>
{% endblock %}

