{% extends 'base.html' %}

{% block main %}
<h1> US PAGE </h1>

<div class="korea_us_container">
  <div class="korea_us_container1">
      <h3>US PAGE</h3>
    <table>
    <thead>
    <tr>
    <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    </tbody>
    </table>
      </div>
      <div class="korea_us_container2">
      <h3>test</h3>
    <table>
    <thead>
    <tr>
    <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    </tbody>
    </table>
      </div>
      <div class="korea_us_container3">
      <h3>test</h3>
    <table>
    <thead>
    <tr>
    <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    </tbody>
    </table>
      </div>
      <div class="korea_us_container4">
      <h3>test</h3>
    <table>
    <thead>
    <tr>
    <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    </tbody>
    </table>
      </div>
      <div class="korea_us_container5">
      <h3>test</h3>
    <table>
    <thead>
    <tr>
    <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    </tbody>
    </table>
      </div>
      <div class="korea_us_container6">
      <h3>test</h3>
    <table>
    <thead>
    <tr>
    <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    </tbody>
    </table>
      </div>
      <div class="korea_us_container7">
      <h3>test</h3>
    <table>
    <thead>
    <tr>
    <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    </tbody>
    </table>
      </div>
      <div class="korea_us_container8">
      <h3>test</h3>
    <table>
    <thead>
    <tr>
    <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    </tbody>
    </table>
      </div>
      <div class="korea_us_container9">
      <h3>test</h3>
    <table>
    <thead>
    <tr>
    <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    </tbody>
    </table>
      </div>
          <div class="korea_us_container10">
      <h3>test</h3>
    <table>
    <thead>
    <tr>
    <th>Lorem</th><th>Ipsum</th><th>Dolor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    <tr>
    <td>Lorem</td><td>Ipsum</td><td>Dolor</td>
    </tr>
    </tbody>
    </table>
      </div>

</div>
{% endblock %}

